<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')%>
<body>
    <%- include('../partials/header')%>
    <form action="/admin/cargaProducto" method="POST" class="carga" enctype="multipart/form-data">
        <h1 class="carga">Carga de Producto</h1>
        <label for="nombreProducto">Nombre del Producto</label>
        <input type="text" id="nombreProducto" name="nombreProducto" required>
        <label for="precio">Precio</label>
        <input type="number" id="precio" name="precio" required>
        <label for="categoria">Categoria</label>
        <select name="categoria" id="categoria" required>
            <option value="Vn">Vino</option>
            <option value="Mu">Música</option>
            <option value="Li">Libro</option>
            <option value="Ca">Café</option>
        </select>
        <label for="detalle">Detalle</label>
        <textarea name=“detalle” id="detalle" rows="3" required></textarea>
        <label for="imagen">Imágen</label>
        <input type="file" id="imagen" name="imagen" required>
        <label for="infoAd">Información Adicional</label>
        <textarea name="infoAd" id="infoAd" rows="5"></textarea>
        <div>
        <button type=“submit” class="carga">CARGAR</button>
        <button type=“button” class="carga">EDITAR</button>
        <button type=“reset” class="reset"><img src="/img/basura2.png" alt="tacho de basura"></button>
        </div>
    </form>
    <%- include('../partials/footer')%>
</body>
</html>