<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')%>
<body>
    <%- include('../partials/header') %>
    <section class="detalleProd">
        
        <div class="images">
            <div class="principal">
                <img width="400px" height="383px" src="/img/product.png" alt="producto">
            </div>
            <div class="miniatura">
                <img width="120px" height="115px" src="/img/product1.png" alt="producto">
                <img width="120px" height="115px" src="/img/product1.png" alt="producto">
                <img width="120px" height="115px" src="/img/product1.png" alt="producto">
            </div>
        </div>
        
        <article>
            <h1>Nombre del Producto</h1>
            <h2>$ Precio</h2>
            <div class="mediosDePago">
                <img src="/img/Visa.png" alt="">
                <img src="/img/Master.png" alt="">
                <img src="/img/PayPal.png" alt="">
                <img src="/img/Amex.png" alt="">
                <img src="/img/Diners.png" alt="">
            </div>
            <h3>Detalle</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta voluptate similique impedit, repellendus, sint officia placeat, tempora error iusto labore molestiae quibusdam odio harum a at perferendis est maxime hic.</p>
            <form action="" method="POST">
                    <div>
                        <label>Cantidad</label>
                        <input type="number" name="cantidad">
                    </div>
                <button class="addcart" type="submit"><img src="/img/carrito2.png" alt="">Añadir al carrito</button>
            </form>
        </article>
    </section>
    <hr>
    <section class="resenia">
        <div class="titulo">
        <h1>Reseñas |</h1>
        <h1 class="der">Informacion adicional</h1>
        </div>
        <div class="comment1">
            <article class="one">
                <img width="105px" height="104px" src="/img/perrito.png" alt="">
                <div class="comen">
                    <img width="150px" height="24px" src="/img/star.png" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum iste accusantium repudiandae voluptates excepturi repellendus dolore accusamus explicabo similique nemo hic error unde minus dignissimos, quam et nihil! Saepe, inventore!</p>
                </div>
            </article>
            <article class="two">
                <img width="105px" height="104px" src="/img/perrito.png" alt="">
                <div class="comen">
                    <img width="150px" height="24px" src="/img/star1.png" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum iste accusantium repudiandae voluptates excepturi repellendus dolore accusamus explicabo similique nemo hic error unde minus dignissimos, quam et nihil! Saepe, inventore!</p>
                </div>
            </article>
        </div>
    </section>
    <hr>

    <section class="productos">
        <h2 class="prodSimi">Productos Similares</h2>
        <div>
        <article>
            <img src="/img/Producto.png" alt="Cafetera">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam, quasi!</p>
        </article>
        <article>
            <img src="/img/Producto.png" alt="Cafetera">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis, maiores?</p>
        </article>
        <article>
            <img src="/img/Producto.png" alt="Cafetera">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, ea?</p>
        </article>
        <article>
            <img src="/img/Producto.png" alt="Cafetera">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, iusto.</p>
        </article>
        <article>
            <img src="/img/Producto.png" alt="Cafetera">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia, perferendis.</p>
        </article>
    </div>
    </section>
    <hr>
    <%- include('../partials/footer') %>
</body>
</html>