@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Quicksand:wght@700&display=swap');

:root {
    --color-gris: #C0BCB4;
    --color-azul: #383F5B;
    --color-beige: #E7D8C4;
    --color-ladrillo: #C36350;
    --color-arena: #D4B489;
    --color-petroleo: #96A79D;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

/*=======================
BODY
========================*/

body {
    font-family: Quicksand;
    color: var(--color-azul);
}
p {
    font-family: Open Sans;
    font-size: 1rem;
}

h1 {font-size: 1.5rem;}

hr {
    border-color: var(--color-ladrillo);
    opacity: 50%;
    margin: 1.5rem;
}

/*=======================
HEADER
========================*/

.logo {
    width: 15rem;
}

.ppal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 0.5rem;
}

header section.ppal form {
    width: 50%;
    position: relative;
}

#searchBar {
    background: var(--color-gris);
    opacity: 50%;
    border: none;
    border-radius: 20px;
    width: 100%;
    height: 1.5rem;
}

header section.ppal form label img {
    position: absolute;
    right: 5px;
}

.ingreso > li {
    display: inline-block;
    margin-right: 5px;
}

.ingreso > li > a {
    display: block;
    padding: 5px 20px;
    color: var(--color-beige);
    font-style: 'Quicksand';
    text-decoration: none;
    background: var(--color-azul);
    border-radius: 20px;
}

.ingreso > li > a.burger { 
    background: none;
    display: none;
}

.ingreso > li > a.cart {
    padding: 5px 0.625rem;
}

.nav ul.menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0 25%;
}

.menu > li {
    position: relative;
}

.menu > li > a {
    display: block;
    padding: 5px 20px;
    color: var(--color-beige);
    font-style: 'Quicksand';
    text-decoration: none;
    background: var(--color-azul);
    border-radius: 20px;
}

.menu li a:hover {
    color: var(--color-gris);
    transition: all .3s;
}

.subMenu {
    position: absolute;
    background: var(--color-azul);
    border-radius: 20px;
    width: 100%;
    visibility: hidden;
    list-style: none;
    z-index: 1;
}

.subMenu li a {
    display: block;
    padding: 5px 15px;
    color: var(--color-beige);
    font-style: 'Quicksand';
    text-decoration: none;
}

.menu li:hover .subMenu{
    visibility: visible;
}

.menuMobile, #burger, label.hidden , #suscrip, #prod {display: none;}

@media (max-width:768px){
    .logo {width: 7.5rem;}

    .ppal {margin-right: 0rem;}

    header section.ppal form {
        width: 35%;
    }

    label.hidden {
        display: block;
    }

    .menuMobile {
        position: absolute;
        background: var(--color-azul);
        border-radius: 20px;
        width: 100%;
        display: none;
        list-style: none;
        margin-left: -22%;
        z-index: 1;
    }
    
    .menuMobile li a {
        display: block;
        padding: 5px 15px;
        color: var(--color-beige);
        font-style: 'Quicksand';
        text-decoration: none;
    }

    .menuMobile li label {
        display: block;
        padding: 5px 15px;
        color: var(--color-beige);
        font-style: 'Quicksand';
    }
 
    #burger:checked ~ .menuMobile {
        display: block;
    }

    .submenuSuscrip {
        background: var(--color-azul);
        border-radius: 20px;
        width: 100%;
        display: none;
        position: relative;
        left: 1rem;
        list-style: none;
    }

    #suscrip:checked ~ .submenuSuscrip {
        display: block;
    }
    
    .submenuSuscrip li a {
        display: block;
        padding: 5px 15px;
        color: var(--color-beige);
        font-style: 'Quicksand';
        text-decoration: none;
    }

    .submenuProd {
        background: var(--color-azul);
        border-radius: 20px;
        width: 100%;
        display: none;
        position: relative;
        left: 1rem;
        list-style: none;
    }

    #prod:checked ~ .submenuProd {
        display: block;
    }
    
    .submenuProd li a {
        display: block;
        padding: 5px 15px;
        color: var(--color-beige);
        font-style: 'Quicksand';
        text-decoration: none;
    }
    
    .nav {display: none;}

    .ingreso > li > a.ingresar{display: none;}
}

/*=======================
SECTION DETALLE SUSCRIPCION
========================*/

section.detalleSuscrip {
    display: flex;
    margin: 0 1.5rem;
    margin-bottom: 1.5rem;
}

section.detalleSuscrip img.suscripcion { margin-right:1rem; }

section.detalleSuscrip article {
    display: flex;
    flex-direction: column;
    width: 50%;
}

section.detalleSuscrip article h1 { 
    font-size: 2rem; 
    margin-bottom: 1.5rem;
}

section.detalleSuscrip article h2 { 
    font-size: 1.5rem; 
    margin-bottom: 1.5rem;
}

section.detalleSuscrip article div.mediosDePago {
    display: flex;
    flex-direction: row;
}

section.detalleSuscrip article div.mediosDePago img { 
    height: 34px;
    margin-right: 1rem;
}
section.detalleSuscrip article h3 { margin: 1rem 0; }

@media (max-width: 425px) {
    section.detalleSuscrip {
        display: block;
    }

    section.detalleSuscrip img.suscripcion {width: 100%;}

    section.detalleSuscrip article {width: 100%;}
}

/*=======================
FORMULARIO OPCIONES SUSCRIPCION
========================*/

form.opcionesSuscrip {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form.opcionesSuscrip div { margin-bottom: 1rem; }

form.opcionesSuscrip label { font-size: 1.5rem; }

form.opcionesSuscrip div select {
    background: var(--color-gris);
    opacity: 50%;
    border: none;
    border-radius: 20px ;
    font-size: 1.125rem; 
}

form.opcionesSuscrip div input {
    background: var(--color-gris);
    opacity: 50%;
    border: none;
    border-radius: 20px ;
    width: 2rem;
    height: 1.5rem;
    position: relative;
    top: -5px;
}

form.opcionesSuscrip button.addCart {
    font-family: Quicksand;
    font-size: 1rem;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    border: none;
    background: var(--color-azul);
    color: var(--color-beige);
    border-radius: 20px;
    padding: 10px;
    width: 200px;
    height: 40px;
}

@media (max-width: 425px) {
    form.opcionesSuscrip {width: 100%;}

    form.opcionesSuscrip div { 
        display: flex;
        flex-direction: column;
     }

    form.opcionesSuscrip div.cant {display: block;}
}

/*=======================
SECTION PRODUCTOS SIMILARES
========================*/
section.productos div {
    display: flex;
    margin: 0 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
}

.prodSimi { 
    margin-bottom: 1rem; 
    margin-left: 1.5rem;
}

section.productos div article {
    margin-right: 1rem;
    width: 15%;
}

section.productos div article.hidden {display: none;}

@media (max-width: 425px) {
    section.productos { margin: 0 1rem; }

    .prodSimi { margin-left: 0; }

    section.productos div article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        margin-right: 5px;
        margin-bottom: 1rem;
        width: 45%;
    }

    section.productos div article.hidden {display: block;}

    section.productos div article p { text-align: center; }

    section.productos div article img { margin-bottom: 1rem; }
}
/*=======================
SECTION PIE DE PAGINA
========================*/
footer h1 {
    text-align: center;
}

footer section.redSocial {
    display: flex;
    justify-content: center;  
}

footer section.redSocial a img {
    margin: 15px;
}