@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Quicksand:wght@700&display=swap');

:root {
    --color-gris: #C0BCB4;
    --color-azul: #383F5B;
    --color-beige: #E7D8C4;
    --color-ladrillo: #C36350;
    --color-arena: #D4B489;
    --color-petroleo: #96A79D;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*=======================
BODY
========================*/

body {
    
    font-family: Quicksand;
    color: var(--color-azul);
}

p {font-family: Open Sans;}

h1 {font-size: 24px;}

hr {
    border: 0.3px solid var(--color-ladrillo);
    opacity: 50%;
    margin: 4vw;
}

/*=======================
CARRITO
========================*/
section.carrito div.imgcarrito {
    display: flex;
    justify-content: center;
}
section.carrito div.imgcarrito img.shop {
    width: 8vw;
    height: auto;
}

/*=======================
DETALLE
========================*/
div.carrito {
    display: flex;
    justify-content: center;
}
div.carrito img {
    width: 4%;
}

section div section.listado{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vw;
}

section div section.listado  div.delete {
    margin: 0vw 4vw -4vw 0vw;
}
section div section.listado div.delete ul {
    margin-top: 1.5rem;
}
section div section.listado div.delete ul li {
    list-style-type: none;
    margin-bottom: 1rem;
}
section div section.listado div.delete ul li a img {
    width: 140%;
    padding: 0.25rem;
}

section div section.listado div.product ul h2 {
    margin-bottom: 2vw;
    font-size: 2em;
}
section div section.listado div.product ul li {
    list-style-type: none;
    margin-bottom: 1rem;
    font-family: open sans;
    font-size: 1.5em;
    color: var(--color-gris);
}

section div section.listado div.cantidad {
    margin: 0 6vw;
}
section div section.listado div.cantidad ul h2 {
    margin-bottom: 2vw;
    font-size: 2em;
}
section div section.listado div.cantidad ul input {
    background: var(--color-gris);
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5vw;
    opacity: 50%;
    border: none;
    border-radius: 20px ;
    width: 2.5vw;
    height: 2vw;
    position: relative;
    right: -4vw;
}

section div section.listado div.precio ul h2 {
    margin-bottom: 2vw;
    font-size: 2em;
}
section div section.listado div.precio ul li {
    list-style-type: none;
    margin-bottom: 1rem;
    font-family: open sans;
    font-size: 1.5em;
    color: var(--color-gris);
} 
/*=======================
IMPORTE
========================*/

section.importe div.title {
    margin: 0 7vw;
    font-size: 1.4em;
}

section.importe div.sub {
    display: flex;
    justify-content: flex-end;
    margin-top: 7vw;
}
section.importe div.sub p {
    margin: 0 12vw;
    font-size: 1.5em;
}
section.importe div.sub p.price { 
    color: var(--color-gris);
}

section.importe div.envio {
    display: flex;
    justify-content: flex-end;
}
section.importe div.envio p {
    margin: 0 12vw;
    font-size: 1.5em;
}
section.importe div.envio p.env {
    color: var(--color-gris);
}

section.importe div.total h3 {
    position: relative;
    left: 40vw;
    background-color: var(--color-gris);
    border-radius: 8vw;
    width: 50vw;
    margin-top: 1vw;
    font-size: 2em;
    font-family: open sans;
    padding: 0 2vw;
}

/*=======================
OPCIONES
========================*/
section.opciones div.opc h2 {
    margin: 0 7vw;
    font-size: 2em;
}

section.opciones div.efect {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3vw;
    
}
section.opciones div.efect button.cash {
    background-color: var(--color-gris);
    text-decoration: none;
    border: none;
    border-radius: 16vw;
    text-align: center;
    padding: 1vw 6vw;
    font-family: Quicksand;
    font-size: 1.5em;
    color: var(--color-azul);
    
}
section.opciones div.efect button.tc {
    background-color: var(--color-gris);
    text-decoration: none;
    border: none;
    border-radius: 16vw;
    text-align: center;
    padding: 1vw 12vw; 
    font-family: Quicksand;
    font-size: 1.5em;
    color: var(--color-azul);
    margin-top: 1vw;
    margin-bottom: 3vw;
}

section.opciones div.mediosDePago {
    display: flex;
    justify-content: center;
}
section.opciones div.mediosDePago img {
    width: 5%;
    margin: 1rem;
}

section.opciones div.finish {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vw 0vw 0vw 0vw;
}
section.opciones div.finish nav.delete button.trash {
    background-color: var(--color-beige);
    text-decoration: none;
    border: none;
    border-radius: 100vw;
    padding: 2vw 2vw;
    margin-right: 1vw;
}
section.opciones div.finish nav.delete button.trash img {
    width: 2.5vw;
}
section.opciones div.finish nav.finCompra button.fin {
    background-color: var(--color-ladrillo);
    color: var(--color-beige);
    text-decoration: none;
    border: none;
    border-radius: 16vw;
    padding: 0 8vw;
    font-family: Quicksand;
    font-size: 1.8em;
    text-transform: uppercase;
}

section.opciones a {
    position: relative;
    left: 46vw;
    text-decoration: none;
    font-family: quicksand;
    font-size: 1.5em;
    color: var(--color-azul);
}

@media (max-width:1024px) {
    section div section.listado div.cantidad ul input {
        margin-bottom: 2.8vw;
        width: 3vw;
        height: 2.5vw;
    }
}

@media (max-width:768px) {

    section div section.listado div.delete ul {
        margin-top: 0.8rem;
    }
    section div section.listado div.delete ul li {
        margin-bottom: 0.5rem;
    }
    section div section.listado div.delete ul li a img {
        width: 120%;
        padding: 0.25rem;
    }
    section div section.listado div.product ul h2 {
        font-size: 1.5em;
    }
    section div section.listado div.product ul li {
        font-size: 1em;
    }
    
    section div section.listado div.cantidad ul h2 {
        margin-bottom: 2vw;
        font-size: 1.5em;
    }
    section div section.listado div.cantidad ul input {
        margin-bottom: 2.9vw;
        width: 2.5vw;
        height: 2vw;
        right: -4.5vw;
    }
    
    section div section.listado div.precio ul h2 {
        margin-bottom: 2vw;
        font-size: 1.5em;
    }
    section div section.listado div.precio ul li {
        margin-bottom: 1rem;
        font-size: 1em;
    }

    section.importe div.title {
        font-size: 1em;
    }

    section.importe div.sub p {
        font-size: 1em;
    }

    section.importe div.envio p {
        font-size: 1em;
    }
    
    section.importe div.total h3 {
        font-size: 1em;
    }

    section.opciones div.opc h2 {
        font-size: 1.3em;
    }

    section.opciones div.efect button.cash {
        font-size: 1em;
    }

    section.opciones div.efect button.tc {
        padding: 1vw 13vw; 
        font-size: 1em;
        margin-bottom: 1vw;
    }
    
    section.opciones div.mediosDePago img {
        width: 4%;
        margin: 0.8rem;
    }
    
    section.opciones div.finish {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1vw 0vw 0vw 0vw;
    }
    section.opciones div.finish nav.delete button.trash {
        padding: 1vw 1vw;
    }
    section.opciones div.finish nav.delete button.trash img {
        width: 2vw;
    }
    section.opciones div.finish nav.finCompra button.fin {
        padding: 0 6vw;
        font-size: 1em;
    }
    
    section.opciones a {
        left: 44vw;
        font-size: 0.8em;
    }
}

@media (max-width:425px){

    section div section.listado div.delete {
        margin: 0 2vw -2vw 0;
    }
    section div section.listado div.delete ul {
        margin-top: 0.7rem;
    }
    section div section.listado div.delete ul li {
        margin-bottom: 0.1rem;
    }
    section div section.listado div.delete ul li a img {
        width: 100%;
        padding: 0.2rem;
    }
    section div section.listado div.product ul h2 {
        font-size: 1em;
    }
    section div section.listado div.product ul li {
        font-size: 0.8em;
        margin-bottom: 0.6rem;
    }
    
    section div section.listado div.cantidad ul h2 {
        margin-bottom: 2vw;
        font-size: 1em;
    }
    section div section.listado div.cantidad ul input {
        margin-bottom: 3.7vw;
        width: 3.5vw;
        height: 3vw;
        right: -4.5vw;
    }
    
    section div section.listado div.precio ul h2 {
        margin-bottom: 2vw;
        font-size: 1em;
    }
    section div section.listado div.precio ul li {
        margin-bottom: 0.6rem;
        font-size: 0.8em;
    }

    section.importe div.title {
        font-size: 0.8em;
    }

    section.importe div.sub p {
        font-size: 0.5em;
    }

    section.importe div.envio p {
        font-size: 0.5em;
    }
    
    section.importe div.total h3 {
        font-size: 0.8em;
    }

    section.opciones div.opc h2 {
        font-size: 1em;
    }

    section.opciones div.efect button.cash {
        font-size: 0.8em;
    }

    section.opciones div.efect button.tc {
        padding: 1vw 16vw; 
        font-size: 0.8em;
    }
    
    section.opciones div.mediosDePago img {
        width: 5%;
        margin: 0.7rem;
    }
    section.opciones div.finish nav.delete button.trash img {
        width: 2.5vw;
    }
    section.opciones div.finish nav.finCompra button.fin {
        padding: 0 6vw;
        font-size: 0.8em;
    }
    
    section.opciones a {
        left: 40vw;
        font-size: 0.7em;
    }
}

@media (max-width:320px) {
    section div section.listado div.delete {
        margin: 0 2vw -2vw 0;
    }
    section div section.listado div.delete ul {
        margin-top: 0.7rem;
    }
    section div section.listado div.delete ul li {
        margin-bottom: 0.1rem;
    }
    section div section.listado div.delete ul li a img {
        width: 80%;
        padding: 0.2rem;
    }
    section div section.listado div.product ul h2 {
        font-size: 0.8em;
    }
    section div section.listado div.product ul li {
        font-size: 0.5em;
        margin-bottom: 0.6rem;
    }
    
    section div section.listado div.cantidad ul h2 {
        margin-bottom: 2vw;
        font-size: 0.8em;
    }
    section div section.listado div.cantidad ul input {
        margin-bottom: 3.7vw;
        width: 3.5vw;
        height: 3vw;
        right: -4.5vw;
    }
    
    section div section.listado div.precio ul h2 {
        margin-bottom: 2vw;
        font-size: 0.8em;
    }
    section div section.listado div.precio ul li {
        margin-bottom: 0.6rem;
        font-size: 0.5em;
    }

    section.importe div.title {
        font-size: 0.6em;
    }

    section.opciones div.opc h2 {
        font-size: 0.8em;
    }
    section.opciones div.efect button.cash {
        font-size: 0.6em;
    }

    section.opciones div.efect button.tc {
        padding: 1vw 16vw; 
        font-size: 0.6em;
    }
    section.opciones div.finish nav.finCompra button.fin {
        padding: 0 6vw;
        font-size: 0.6em;
    }
    section.opciones a {
        left: 40vw;
        font-size: 0.5em;
    }

}