/*=======================
SECTION PIE DE PAGINA
========================*/
footer {
    background-color: rgba(250, 250, 250, 0.7)
}

footer h1 { text-align: center; }

footer section.redSocial {
    display: flex;
    justify-content: center;  
}

footer section.redSocial a img { margin: 1rem;}