/*========================
    SECCION MENU PROFILE
=========================*/
section.menuProfile {
    margin: 20px;
}

section.menuProfile ul {
    display: flex;
    justify-content: center;
}

section.menuProfile ul li{
    list-style: none;
    border-right: solid 2px;
    padding: 5px 15px;
}

/*=================================
    SECCION MENU INFO PERSONAL
===================================*/

div.infoPersonal{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    height: max-content;
    display: flex;
    flex-direction: column;
}

div.infoPersonal img{
    border-radius: 10px;
    height: 300px;
    width: 300px;
    object-fit: cover;
}

div.infoPersonal input{
    margin: 10px;
}

div.infoPersonal p{
   margin: 5px 0;
}

div.infoPersonal button.carga{
    margin: 15px 0;
 }



