@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Quicksand:wght@700&display=swap');

:root {
    --color-gris: #C0BCB4;
    --color-azul: #383F5B;
    --color-beige: #E7D8C4;
    --color-ladrillo: #C36350;
    --color-arena: #D4B489;
    --color-petroleo: #96A79D;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*=======================
BODY
========================*/

body {
    
    font-family: Quicksand;
    color: var(--color-azul);
}

p {font-family: Open Sans;}

h1 {font-size: 24px;}

hr {
    border-color: var(--color-ladrillo);
    opacity: 50%;
    margin: 20px;
}

/*=======================
HEADER
========================*/


header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

.botonStandar {
    background: var(--color-azul);
    color: var(--color-beige);
    font-size: 14px;
    padding: 5px 15px;
    margin-right: 20px;
    text-decoration: none;
    border-radius: 20px;
}

header a img.logo {
    display: flex;
    margin-right: 15px;
}

header div nav.navIngreso {
    display: flex;
    align-items: center;
    margin: 25px 0;
}


header div form { 
    width: 100%;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

header div form input{ 
    width: 100%;
    height: 22px;
    border: none;
    border-radius: 20px;
    background: var(--color-gris);
    opacity: 50%;
}


header div nav a img { margin-right: 15px; }

header ul.navMenu {
    display: flex;
    justify-content: space-around;
    margin: 5px 30%;
}

header ul li { list-style: none; }

/*=======================
SECTION SUSCRIBITE
========================*/
section.bannerSuscripcion {
    display: flex;
    position: relative;
}
section.bannerSuscripcion img { width: 100%; }
section.bannerSuscripcion a { 
    background: var(--color-ladrillo);
    color: var(--color-arena);
    border-radius: 20px;
    padding: 5px 30px;
    text-decoration: none;
    position: absolute;
    left: 45%;
    top: 45%;   
}
/*=======================
SECTION NOSOTROS
========================*/
section.nosotros {
    display: flex;
}
section.nosotros article {
    width: 50%;
    margin: 15px;
}
section.nosotros article p {
    margin-top: 15px;
}
section.nosotros img {
    width: 50%;

}
/*=======================
SECTION ASOCIATE
========================*/

section.asociate {
    display: flex;

}
h1.asociate{
    margin: 15px 0px;
    text-align: center;
}
section.asociate article h2 {
    margin: 15px 0;
    text-align: center;
}
section.asociate article {
    margin: 20px;
}
section.asociate article img {
    position: relative;
    right: -50%;  
}
/*=======================
SECTION PRODUCTOS
========================*/
section.productos {
    display: flex;
    margin: 0 5%;
}
section.productos article img {
    position: relative;
    right: -15%;  
}
section.productos article {
    margin: 0 20px;
}
/*=======================
SECTION PIE DE PAGINA
========================*/
footer h1 {
    text-align: center;
    
}

footer section.redSocial {

    display: flex;
    justify-content: center;
    
}
footer section.redSocial a img {
    margin: 15px;
}

=======
