/*=======================
BODY
========================*/

body {
    
    font-family: Quicksand;
    color: var(--color-azul);
}

p {font-family: Open Sans;}

h1 {font-size: 24px;}

hr {
    border-color: var(--color-ladrillo);
    opacity: 50%;
    margin: 20px;
}

/*=======================
DETALLE PRODUCTO
========================*/

section.detalleProd {
    display: flex;
    background-color: rgba(250, 250, 250, 0.7);
}
section.detalleProd .images {
    margin-left: 3vw;
    margin-right: 2vw;
}

section.detalleProd .images .miniatura img {
    margin-left: 1vw;
}
section.detalleProd .images .miniatura img:first-child {
    margin-left: 0;
}

section.detalleProd article {
    display: flex;
    flex-direction: column;
    width: 50%;
}
section.detalleProd article h1 {
    font-size: 1.7rem;
    margin-bottom: 0.5vw;
    position: relative; 
    right: 13vw;
}
section.detalleProd article h2 {
    font-size: 1.5rem;
    margin-bottom: 1vw;
}

section.detalleProd article .mediosDePago img {
    margin-right: 1vw;
}
section.detalleProd article h3 {
    margin: 1vw 0;
}
section.detalleProd article p {
    font-family: open Sans;
}
section.detalleProd article form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10vw;
}

section.detalleProd article form div input {
    background: var(--color-gris);
    opacity: 50%;
    border: none;
    border-radius: 20px ;
    width: 2.5vw;
    height: 2vw;
    position: relative;
    top: -0.3vw;
}
section.detalleProd article form button {
    font-family: Quicksand;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    border: none;
    background: var(--color-azul);
    color: var(--color-beige);
    border-radius: 20px;
    padding: 1vw;
    width: 15vw;
    height: 3vw;
    font-size: 1.1em;
}

/*=======================
RESEÑAS
========================*/

section.resenia {
    margin-left: 3vw;
    background-color: rgba(250, 250, 250, 0.7);
}
section.resenia .titulo {
    display: flex;
}
section.resenia .titulo h1 {
    font-size: 2em;
}
section.resenia .titulo h1.der {
    margin-left: 1vw;
    opacity: 50%;
}

section.resenia .comment1 {
    margin: 2vw 0;
}
section.resenia .comment1 .one {
    display: flex;
}
section.resenia .comment1 .one img {
    margin-right: 2vw;
}

section.resenia .comment1 .one .comen p {
    margin-top: 1vw;
}

section.resenia .comment1 .two {
    display: flex;
    margin-top: 2vw;
}
section.resenia .comment1 .two img {
    margin-right: 2vw;
}

section.resenia .comment1 .two .comen p {
    margin-top: 1vw;
}
@media (max-width:1024px){

    section.detalleProd .images .miniatura img {
        margin-left: 1.5vw;
    }
    section.detalleProd article h1 {
        font-size: 1.7rem;
        margin-bottom: 0.5vw;
        position: relative; 
        right: 8vw;
    }

    section.detalleProd article form button {
        padding: 1vw;
        width: 22vw;
        height: 4vw;
    }
}
@media (max-width: 768px){

    section.detalleProd .images {
        margin-left: 4vw;
        margin-right: 0vw;
    }

    section.detalleProd .images .principal img {
        width: 95%;
    }
    
    section.detalleProd .images .miniatura img {
        margin-left: 1vw;
        width: 29%;   
    }
    
    section.detalleProd article {
        width: 60%;
    }
    section.detalleProd article h1 {
        font-size: 1.3rem;
        margin-bottom: 0vw;
        position: relative; 
        right: 5vw;
    }
    section.detalleProd article h2 {
        font-size: 1rem;
    }
    section.detalleProd article h3 {
        font-size: 0.8rem;
    }
    section.detalleProd article p {
        font-size: 0.8rem;
    }
   
    section.detalleProd article form {
        padding-top: 9vw;
    }
    
    section.detalleProd article form button {
        padding: 1vw;
        width: 20vw;
        height: 4vw;
        font-size: 0.7em;
    }

    section.resenia .titulo h1 {
        font-size: 1.5em;
    }
    
    section.resenia .comment1 .one img {
        width: 15%;
    }
    section.resenia .comment1 .one img.perfil {
        width: 12%;
        height: 12%;
    }
    section.resenia .comment1 .one .comen p {
        font-size: 0.8em;
    }
    
    section.resenia .comment1 .two img {
        width: 15%;
    }
    
    section.resenia .comment1 .two img.perfil{
        width: 12%;
        height: 12%;
    }
    section.resenia .comment1 .two .comen p {
        font-size: 0.8em;
    }
}

@media (max-width: 425px){
    
    section.detalleProd {
        display: flex;
        flex-direction: column;
    }
    section.detalleProd .images {
        margin-left: 9vw;
        margin-right: 0vw;
    }

    section.detalleProd .images .principal img {
        width: 90%;
    }
    section.detalleProd .images .miniatura {
        display: none;
    }

    section.detalleProd article {
        width: 98%;
        padding: 0vw 9vw;
    }
    section.detalleProd article h1 {
        font-size: 1.3rem;
        margin-bottom: 0vw;
        position: relative; 
        right: 14vw;
    }
    section.detalleProd article h2 {
        font-size: 0.9rem;
    }
    section.detalleProd article .mediosDePago img {
        width: 8%;
    }
    section.detalleProd article h3 {
        font-size: 0.8em;
    }
    section.detalleProd article p {
        font-size: 0.7em;
    }
   
    section.detalleProd article form div input {
        width: 5vw;
        height: 3.5vw;

    }
    
    section.detalleProd article form button {
        padding: 1vw;
        width: 36vw;
        height: 8vw;
        font-size: 0.8em;
    }

    section.resenia {
        margin-left: 5vw;
    }

    section.resenia .titulo h1 {
        font-size: 1em;
    }
    
    section.resenia .comment1 .one img {
        width: 12%;
    }
    section.resenia .comment1 .one img.perfil {
        width: 15%;
        height: 15%;
    }
    section.resenia .comment1 .one .comen {
        position: relative;
        bottom: 2vw;
    }
    section.resenia .comment1 .one .comen p {
        font-size: 0.6em;
        margin-top: 0vw;
    }
    
    section.resenia .comment1 .two img {
        width: 12%;
    }
    
    section.resenia .comment1 .two img.perfil{
        width: 15%;
        height: 15%;
    }
    section.resenia .comment1 .two .comen {
        position: relative;
        bottom: 2vw;
    }
    section.resenia .comment1 .two .comen p {
        font-size: 0.6em;
        margin-top: 0vw;
    }
}
@media (max-width:375px) {

    section.detalleProd article h1 {
        position: relative; 
        right: 11vw;
        margin-top: 0vw;
    }
}
@media (max-width: 320px) {

    section.detalleProd article h1 {
        position: relative; 
        right: 7vw;
        margin-top: 0vw;
    }
    section.detalleProd article form div input {
        width: 5.5vw;
        height: 4.5vw;
    }
    section.detalleProd article form button {
        padding: 1vw;
        width: 50vw;
        height: 10vw;
        font-size: 0.8rem;
    }
    section.detalleProd article form button img {
        width: 12%;
    }
    section.resenia .comment1 .one .comen {
        position: relative;
        bottom: 6vw;
    }
    section.resenia .comment1 .two .comen {
        position: relative;
        bottom: 6vw;
    }
    
    section.detalleProd 
}