/*=======================
BODY
========================*/

body {
    
    font-family: Quicksand;
    color: var(--color-azul);
}

/*=======================
HEADER
========================*/

header {background-color: rgba(250, 250, 250, 0.7);}

.logo {
    width: 15rem;
}

.ppal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 0.5rem;
}

header section.ppal form {
    width: 50%;
    background-color: rgba(192, 188, 180, 0.5);
    border-radius: 20px;
    display: inline-block;
}

header section.ppal form input{
    background-color: rgba(250, 250, 250, 0);
    border: none;
    width: 95%;
    height: 2rem;
    background-position: 10px 5px;
    background-repeat: no-repeat;
    padding-left: 40px;
}

header section.ppal form button {
    border-style: none;
    background: none;
    padding-top: 5px;
}


.ingreso > li {
    display: inline-block;
    margin-right: 5px;
}

.ingreso > li > a {
    display: block;
    padding: 5px 20px;
    color: var(--color-beige);
    font-style: 'Quicksand';
    text-decoration: none;
    background: var(--color-azul);
    border-radius: 20px;
}

.ingreso > li > a.burger { 
    background: none;
    display: none;
}

.ingreso > li > a.cart {
    padding: 5px 0.625rem;
}

.nav ul.menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0 25%;
}

.menu > li {
    position: relative;
}

.menu > li > a {
    display: block;
    padding: 5px 20px;
    color: var(--color-beige);
    font-style: 'Quicksand';
    text-decoration: none;
    background: var(--color-azul);
    border-radius: 20px;
}

.menu li a:hover {
    color: var(--color-gris);
    transition: all .3s;
}

.subMenu {
    position: absolute;
    background: var(--color-azul);
    border-radius: 20px;
    width: 100%;
    visibility: hidden;
    list-style: none;
    z-index: 1;
}

.subMenu li a {
    display: block;
    padding: 5px 15px;
    color: var(--color-beige);
    font-style: 'Quicksand';
    text-decoration: none;
}

.menu li:hover .subMenu{
    visibility: visible;
}

.menuMobile, #burger, label.hidden , #suscrip, #prod {display: none;}

@media (max-width:768px){
    .logo {width: 7.5rem;}

    .ppal {
        margin-right: 0rem;
        padding-top: 15px;
    }

    header section.ppal form {
        width: 35%;
        margin-right: 0px ;
    }

    header section.ppal form input{
        width: 75%;
    }

    #searchBar {
        width: 85%;
        height: 1.5rem;
        margin-left: 0.625rem;
    }

    label.hidden {
        display: block;
    }

    .menuMobile {
        position: absolute;
        background: var(--color-azul);
        border-radius: 20px;
        width: 100%;
        display: none;
        list-style: none;
        margin-left: -22%;
        z-index: 1;
    }
    
    .menuMobile li a {
        display: block;
        padding: 5px 15px;
        color: var(--color-beige);
        font-style: 'Quicksand';
        text-decoration: none;
    }

    .menuMobile li label {
        display: block;
        padding: 5px 15px;
        color: var(--color-beige);
        font-style: 'Quicksand';
    }
 
    #burger:checked ~ .menuMobile {
        display: block;
    }

    .submenuSuscrip {
        background: var(--color-azul);
        border-radius: 20px;
        width: 100%;
        display: none;
        position: relative;
        left: 1rem;
        list-style: none;
    }

    #suscrip:checked ~ .submenuSuscrip {
        display: block;
    }
    
    .submenuSuscrip li a {
        display: block;
        padding: 5px 15px;
        color: var(--color-beige);
        font-style: 'Quicksand';
        text-decoration: none;
    }

    .submenuProd {
        background: var(--color-azul);
        border-radius: 20px;
        width: 100%;
        display: none;
        position: relative;
        left: 1rem;
        list-style: none;
    }

    #prod:checked ~ .submenuProd {
        display: block;
    }
    
    .submenuProd li a {
        display: block;
        padding: 5px 15px;
        color: var(--color-beige);
        font-style: 'Quicksand';
        text-decoration: none;
    }
    
    .nav {display: none;}

    .ingreso > li > a.ingresar{display: none;}
}