@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Quicksand:wght@700&display=swap');

:root {
    --color-gris: #C0BCB4;
    --color-azul: #383F5B;
    --color-beige: #E7D8C4;
    --color-ladrillo: #C36350;
    --color-arena: #D4B489;
    --color-petroleo: #96A79D;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

/*=======================
BODY
========================*/

body {
    
    font-family: Quicksand;
    color: var(--color-azul);
}

p {font-family: Open Sans;}

h1 {font-size: 1.5rem;}

hr {
    border: solid 1px var(--color-ladrillo);
    opacity: 50%;
    margin: 1.5rem;
}

/*=======================
HEADER
========================*/

.logo {
    width: 15rem;
}

.ppal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 0.5rem;
}

header section.ppal form {
    width: 50%;
    position: relative;
}

#searchBar {
    background: var(--color-gris);
    opacity: 50%;
    border: none;
    border-radius: 20px;
    width: 100%;
    height: 1.5rem;
}

header section.ppal form label img {
    position: absolute;
    right: 5px;
}

.ingreso > li {
    display: inline-block;
    margin-right: 5px;
}

.ingreso > li > a {
    display: block;
    padding: 5px 20px;
    color: var(--color-beige);
    font-style: 'Quicksand';
    text-decoration: none;
    background: var(--color-azul);
    border-radius: 20px;
}

.ingreso > li > a.burger { 
    background: none;
    display: none;
}

.ingreso > li > a.cart {
    padding: 5px 0.625rem;
}

.nav ul.menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0 25%;
}

.menu > li {
    position: relative;
}

.menu > li > a {
    display: block;
    padding: 5px 20px;
    color: var(--color-beige);
    font-style: 'Quicksand';
    text-decoration: none;
    background: var(--color-azul);
    border-radius: 20px;
}

.menu li a:hover {
    color: var(--color-gris);
    transition: all .3s;
}

.subMenu {
    position: absolute;
    background: var(--color-azul);
    border-radius: 20px;
    width: 100%;
    visibility: hidden;
    list-style: none;
    z-index: 1;
}

.subMenu li a {
    display: block;
    padding: 5px 15px;
    color: var(--color-beige);
    font-style: 'Quicksand';
    text-decoration: none;
}

.menu li:hover .subMenu{
    visibility: visible;
}

.menuMobile, #burger, label.hidden , #suscrip, #prod {display: none;}

@media (max-width:768px){
    .logo {width: 7.5rem;}

    .ppal {margin-right: 0rem;}

    header section.ppal form {
        width: 35%;
    }

    label.hidden {
        display: block;
    }

    .menuMobile {
        position: absolute;
        background: var(--color-azul);
        border-radius: 20px;
        width: 100%;
        display: none;
        list-style: none;
        margin-left: -22%;
        z-index: 1;
    }
    
    .menuMobile li a {
        display: block;
        padding: 5px 15px;
        color: var(--color-beige);
        font-style: 'Quicksand';
        text-decoration: none;
    }

    .menuMobile li label {
        display: block;
        padding: 5px 15px;
        color: var(--color-beige);
        font-style: 'Quicksand';
    }
 
    #burger:checked ~ .menuMobile {
        display: block;
    }

    .submenuSuscrip {
        background: var(--color-azul);
        border-radius: 20px;
        width: 100%;
        display: none;
        position: relative;
        left: 1rem;
        list-style: none;
    }

    #suscrip:checked ~ .submenuSuscrip {
        display: block;
    }
    
    .submenuSuscrip li a {
        display: block;
        padding: 5px 15px;
        color: var(--color-beige);
        font-style: 'Quicksand';
        text-decoration: none;
    }

    .submenuProd {
        background: var(--color-azul);
        border-radius: 20px;
        width: 100%;
        display: none;
        position: relative;
        left: 1rem;
        list-style: none;
    }

    #prod:checked ~ .submenuProd {
        display: block;
    }
    
    .submenuProd li a {
        display: block;
        padding: 5px 15px;
        color: var(--color-beige);
        font-style: 'Quicksand';
        text-decoration: none;
    }
    
    .nav {display: none;}

    .ingreso > li > a.ingresar{display: none;}
}

/*=======================
SECTION SUSCRIBITE
========================*/
section.bannerSuscripcion {
    display: flex;
    position: relative;
    background-image: url("/img/BannerSuscripcion.png");
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section.bannerSuscripcion a { 
    background: var(--color-ladrillo);
    color: var(--color-arena);
    border-radius: 20px;
    padding: 5px 2rem;
    text-decoration: none;
    position: absolute;
    left: 45%;
    top: 45%;   
}

section.bannerSuscripcion a:hover {
    background: var(--color-arena);
    color: var(--color-ladrillo);
}

@media (max-width: 425px) { 
    section.bannerSuscripcion a {
    font-size: 1rem;
    position: absolute;
    left: 36%;
    top: 40%; 
    }
}

@media only screen and (max-device-width: 1023px) {
    section.bannerSuscripcion {
      background-attachment: scroll;
      height: 50vh;
    }
}

/*=======================
SECTION NOSOTROS
========================*/
section.nosotros {
    display: flex;
}
section.nosotros article {
    width: 50%;
    margin: 1rem;
}
section.nosotros article p {
    margin-top: 1rem;
}
section.nosotros img {
    width: 50%;
}

@media (max-width: 425px) {
    section.nosotros {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 1rem;
    }
    section.nosotros article {
        width: 100%;
        margin: 0px;
        margin-bottom: 1rem;
    }
    section.nosotros img {
        width: 100%;
    }
}
/*=======================
SECTION ASOCIATE
========================*/

section.asociate {
    display: flex;
    align-items: center;
}

h1.asociate{
    margin: 1rem 0px;
    text-align: center;
}
section.asociate article h2 {
    margin: 1rem 0;
    text-align: center;
}
section.asociate article {
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section.asociate article img { width: 25%; }

@media (max-width: 425px) {
    section.asociate {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    section.asociate article {
        margin: 5%;
    }
}
/*=======================
SECTION PRODUCTOS
========================*/
section.productos {
    display: flex;
    margin: 0 2.5%;
    flex-wrap: wrap;
    justify-content: space-between;
}
section.productos article {
    margin-right: 1rem;
    width: 15%;
}

section.productos article.hiden {display: none;}

@media (max-width: 425px) {
    section.productos { margin: 0 1rem; }

    section.productos article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        margin-right: 5px;
        margin-bottom: 1rem;
        width: 45%;
    }

    section.productos article.hiden {display: block;}

    section.productos article p { text-align: center; }

    section.productos article img { margin-bottom: 1rem; }
}
/*=======================
SECTION PIE DE PAGINA
========================*/
footer h1 {
    text-align: center;
    transition: font-size 5s;
}

footer section.redSocial {
    display: flex;
    justify-content: center;  
}

footer section.redSocial a img {
    margin: 1rem;
}

#contacto:target h1 {
    font-size: 150%;
}
