@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Quicksand:wght@700&display=swap');

:root {
    --color-gris: #C0BCB4;
    --color-azul: #383F5B;
    --color-beige: #E7D8C4;
    --color-ladrillo: #C36350;
    --color-arena: #D4B489;
    --color-petroleo: #96A79D;
}

/*=======================
BODY
========================*/

body {
    
    font-family: Quicksand;
    color: var(--color-azul);
}

/*=======================
HEADER
========================*/

.logo {
    width: 15rem;
}

.ppal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 0.5rem;
}

header section.ppal form {
    width: 50%;
    /*position: relative;*/
    background: var(--color-gris);
    opacity: 50%;
    border-radius: 20px;
    display: inline-block;
}

#searchBar {
    background: var(--color-gris);
    opacity: 50%;
    border: none;
    border-radius: 20px;
    width: 92%;
    height: 1.5rem;
    margin-left: 0.625rem;
}

header section.ppal form label{
    border-left: solid 2px var(--color-azul);
    position: relative;
}

header section.ppal form label img {
    position: absolute;
    left: 0.625rem;
    top: 1.5px;
}

.ingreso > li {
    display: inline-block;
    margin-right: 5px;
}

.ingreso > li > a {
    display: block;
    padding: 5px 20px;
    color: var(--color-beige);
    font-style: 'Quicksand';
    text-decoration: none;
    background: var(--color-azul);
    border-radius: 20px;
}

.ingreso > li > a.burger { 
    background: none;
    display: none;
}

.ingreso > li > a.cart {
    padding: 5px 0.625rem;
}

.nav ul.menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0 25%;
}

.menu > li {
    position: relative;
}

.menu > li > a {
    display: block;
    padding: 5px 20px;
    color: var(--color-beige);
    font-style: 'Quicksand';
    text-decoration: none;
    background: var(--color-azul);
    border-radius: 20px;
}

.menu li a:hover {
    color: var(--color-gris);
    transition: all .3s;
}

.subMenu {
    position: absolute;
    background: var(--color-azul);
    border-radius: 20px;
    width: 100%;
    visibility: hidden;
    list-style: none;
    z-index: 1;
}

.subMenu li a {
    display: block;
    padding: 5px 15px;
    color: var(--color-beige);
    font-style: 'Quicksand';
    text-decoration: none;
}

.menu li:hover .subMenu{
    visibility: visible;
}

.menuMobile, #burger, label.hidden , #suscrip, #prod {display: none;}

@media (max-width:768px){
    .logo {width: 7.5rem;}

    .ppal {margin-right: 0rem;}

    header section.ppal form {
        width: 35%;
        margin-right: 0px ;
    }

    #searchBar {
        width: 85%;
        height: 1.5rem;
        margin-left: 0.625rem;
    }

    header section.ppal form label {
        display: none;
    }

    header section.ppal form label img {
        display: none;
    }

    label.hidden {
        display: block;
    }

    .menuMobile {
        position: absolute;
        background: var(--color-azul);
        border-radius: 20px;
        width: 100%;
        display: none;
        list-style: none;
        margin-left: -22%;
        z-index: 1;
    }
    
    .menuMobile li a {
        display: block;
        padding: 5px 15px;
        color: var(--color-beige);
        font-style: 'Quicksand';
        text-decoration: none;
    }

    .menuMobile li label {
        display: block;
        padding: 5px 15px;
        color: var(--color-beige);
        font-style: 'Quicksand';
    }
 
    #burger:checked ~ .menuMobile {
        display: block;
    }

    .submenuSuscrip {
        background: var(--color-azul);
        border-radius: 20px;
        width: 100%;
        display: none;
        position: relative;
        left: 1rem;
        list-style: none;
    }

    #suscrip:checked ~ .submenuSuscrip {
        display: block;
    }
    
    .submenuSuscrip li a {
        display: block;
        padding: 5px 15px;
        color: var(--color-beige);
        font-style: 'Quicksand';
        text-decoration: none;
    }

    .submenuProd {
        background: var(--color-azul);
        border-radius: 20px;
        width: 100%;
        display: none;
        position: relative;
        left: 1rem;
        list-style: none;
    }

    #prod:checked ~ .submenuProd {
        display: block;
    }
    
    .submenuProd li a {
        display: block;
        padding: 5px 15px;
        color: var(--color-beige);
        font-style: 'Quicksand';
        text-decoration: none;
    }
    
    .nav {display: none;}

    .ingreso > li > a.ingresar{display: none;}
}