@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Quicksand:wght@700&display=swap');

:root {
    --color-gris: #C0BCB4;
    --color-azul: #383F5B;
    --color-beige: #E7D8C4;
    --color-ladrillo: #C36350;
    --color-arena: #D4B489;
    --color-petroleo: #96A79D;
}

/*=======================
BODY
========================*/

p {font-family: Open Sans;}

h1 {font-size: 1.5rem;}

hr {
    border: solid 1px var(--color-ladrillo);
    opacity: 50%;
    margin: 1.5rem;
}

@media (max-width: 425px) { 
    body {
    margin: 0;
    padding: 0;
    }
}

/*=======================
SECTION SUSCRIBITE
========================*/
section.bannerSuscripcion {
    display: flex;
    position: relative;
    background-image: url("/img/BannerSuscripcion.png");
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section.bannerSuscripcion a { 
    background: var(--color-ladrillo);
    color: var(--color-arena);
    border-radius: 20px;
    padding: 5px 2rem;
    text-decoration: none;
    position: absolute;
    left: 45%;
    top: 45%;   
}

section.bannerSuscripcion a:hover {
    background: var(--color-arena);
    color: var(--color-ladrillo);
}

@media (max-width: 425px) { 
    section.bannerSuscripcion a {
    font-size: 1rem;
    position: absolute;
    left: 36%;
    top: 40%; 
    }
}

@media only screen and (max-device-width: 1023px) {
    section.bannerSuscripcion {
      background-attachment: scroll;
      height: 50vh;
    }
}

/*=======================
SECTION NOSOTROS
========================*/
section.nosotros {
    display: flex;
}
section.nosotros article {
    width: 50%;
    margin: 1rem;
}
section.nosotros article p {
    margin-top: 1rem;
}
section.nosotros img {
    width: 50%;
}

@media (max-width: 425px) {
    section.nosotros {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 1rem;
    }
    section.nosotros article {
        width: 100%;
        margin: 0px;
        margin-bottom: 1rem;
    }
    section.nosotros img {
        width: 100%;
    }
}
/*=======================
SECTION ASOCIATE
========================*/

section.asociate {
    display: flex;
    align-items: center;
}

h1.asociate{
    margin: 1rem 0px;
    text-align: center;
}
section.asociate article h2 {
    margin: 1rem 0;
    text-align: center;
}
section.asociate article {
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section.asociate article img { width: 25%; }

@media (max-width: 425px) {
    section.asociate {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    section.asociate article {
        margin: 5%;
    }
}
/*=======================
SECTION PRODUCTOS
========================*/
section.productos {
    display: flex;
    margin: 0 2.5%;
    flex-wrap: wrap;
    justify-content: space-between;
}
section.productos article {
    margin-right: 1rem;
    width: 15%;
}

section.productos article.hiden {display: none;}

@media (max-width: 425px) {
    section.productos { margin: 0 1rem; }

    section.productos article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        margin-right: 5px;
        margin-bottom: 1rem;
        width: 45%;
    }

    section.productos article.hiden {display: block;}

    section.productos article p { text-align: center; }

    section.productos article img { margin-bottom: 1rem; }
}