/*=======================
BODY
========================*/

p {font-family: Open Sans;}

h1 {font-size: 1.5rem;}

hr {
    border: solid 1px var(--color-ladrillo);
    opacity: 50%;
    margin: 1.5rem;
}

@media (max-width: 768px) { 
    body {
    margin: 0;
    padding: 0;
    }
}

/*=======================
SECTION SUSCRIBITE
========================*/
section.bannerSuscripcion {
    display: flex;
    position: relative;
    background-image: url("/img/BannerSuscripcion.png");
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section.bannerSuscripcion a { 
    background: var(--color-ladrillo);
    color: var(--color-arena);
    border-radius: 20px;
    padding: 5px 2rem;
    text-decoration: none;
    position: absolute;
    left: 45%;
    top: 45%;   
}

section.bannerSuscripcion a:hover {
    background: var(--color-arena);
    color: var(--color-ladrillo);
}

@media (max-width: 425px) { 
    section.bannerSuscripcion a {
    font-size: 1rem;
    position: absolute;
    left: 36%;
    top: 40%; 
    }
}

@media only screen and (max-device-width: 1023px) {
    section.bannerSuscripcion {
      background-attachment: scroll;
      height: 50vh;
    }
}

/*=======================
SECTION NOSOTROS
========================*/
section.nosotros {
    display: flex;
}

section.nosotros article {
    width: 50%;
    margin: 1rem;
    background-color: rgba(250, 250, 250, 0.7);
    padding: 20px;
}

section.nosotros article p {
    margin-top: 1rem;
}
section.nosotros img {
    width: 50%;
}

@media (max-width: 768px) {
    section.nosotros {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 1rem;
    }
    section.nosotros article {
        width: 100%;
        margin: 0px;
        margin-bottom: 1rem;
    }
    section.nosotros img {
        width: 100%;
    }
}
/*=======================
SECTION ASOCIATE
========================*/

section.asociate {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(250, 250, 250, 0.7);
    padding: 20px;
}

h1.asociate{
    margin: 1rem 0px;
    text-align: center;
}
section.asociate article h2 {
    margin: 1rem 0;
    text-align: center;
}
section.asociate article {
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section.asociate article img { 
    width: 3rem; 
}

@media (max-width: 425px) {
    section.asociate {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    section.asociate article {
        margin: 5%;
    }
}