/*=======================
BODY
========================*/

h1 {font-size: 1.5rem;}

h2 {font-size: 1rem;}

/*=======================
SECTION SUSCRIPCIONES
========================*/

section.suscripciones {
    display: flex;
    justify-content: space-around;
    background-color: rgba(250, 250, 250, 0.7);
    padding: 1.5rem;
}

section.suscripciones article{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    border-radius: 20px;
    border: solid 5px var(--color-petroleo);
    flex-wrap: wrap;
    height: 100vh;
}

section.suscripciones article img {
    width: 80%;
}

