/*=======================
BODY
========================*/

body {
    
    font-family: Quicksand;
    color: var(--color-azul);
}

p {font-family: Open Sans;}

h1 {font-size: 1.5rem;}

hr {
    border: 0.3px solid var(--color-ladrillo);
    opacity: 50%;
    margin: 4vw;
}

/*=======================
DETALLE
========================*/
div.carrito {
    display: flex;
    justify-content: center;
    
}
div.carrito img {
    width: 4%;
}

section div section.listado{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vw;
    background-color: rgba(250, 250, 250, 0.7);
}

section div section.listado  div.delete {
    margin: 0vw 3vw -3vw 0vw;
}
section div section.listado div.delete ul {
    margin-top: 1vw;
}
section div section.listado div.delete ul li {
    list-style-type: none;
    margin-bottom: 0.5vw;
}
section div section.listado div.delete ul li a img {
    width: 120%;
    padding: 0.25rem;
}

section div section.listado div.product ul h2 {
    margin-bottom: 2vw;
    font-size: 1.5rem;
}
section div section.listado div ul li {
    list-style-type: none;
    margin-bottom: 1rem;
    font-family: open sans;
    font-size: 1rem;
    color: var(--color-azul);
}

section div section.listado div.cantidad {
    margin: 0 6vw;
}
section div section.listado div.cantidad ul h2 {
    margin-bottom: 1.2vw;
    font-size: 1.5rem;
}
section div section.listado div.cantidad ul input {
    background-color: rgba(192, 188, 180, 0.5);
    display: flex;
    flex-direction: column;
    margin-bottom: 1.4vw;
    opacity: 50%;
    border: none;
    border-radius: 20px ;
    width: 50px;
    height: 4vh;
    position: relative;
    right: -3vw;
    text-align: center;
    padding: 0 10px;
}

section div section.listado div.precio ul h2 {
    margin-bottom: 2vw;
    font-size: 1.5rem;
}
section div section.listado div.precio ul li {
    list-style-type: none;
    margin-bottom: 1rem;
    font-family: open sans;
    font-size: 1rem;
    color: var(--color-azul);
} 
/*=======================
IMPORTE
========================*/
section.importe {
    background-color: rgba(250, 250, 250, 0.7);
}
section.importe div.title {
    margin: 0 7vw;
    font-size: 1rem;
}

section.importe div.sub {
    display: flex;
    justify-content: flex-end;
    margin-top: 7vw;
}
section.importe div.sub p {
    margin: 0 12vw;
    font-size: 1.3rem;
}
section.importe div.sub p.price { 
    color: var(--color-azul);
}

section.importe div.envio {
    display: flex;
    justify-content: flex-end;
}
section.importe div.envio p {
    margin: 0 12vw;
    font-size: 1.3rem;
}
section.importe div.envio p.env {
    color: var(--color-azul);
}

section.importe div.total h3 {
    position: relative;
    left: 40vw;
    background-color: rgba(192, 188, 180, 0.5);
    border-radius: 8vw;
    width: 44vw;
    margin-top: 1vw;
    font-size: 1.5rem;
    font-family: open sans;
    padding: 0 2vw;
}

/*=======================
OPCIONES
========================*/
section.opciones {
    background-color: rgba(250, 250, 250, 0.7)
}
section.opciones div.opc h2 {
    margin: 0 7vw;
    font-size: 1.3rem;
}

section.opciones div.efect {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3vw;
    
}
section.opciones div.efect button.cash {
    background-color: var(--color-gris);
    text-decoration: none;
    border: none;
    border-radius: 16vw;
    text-align: center;
    padding: 1vw 8vw;
    font-family: Quicksand;
    font-size: 1rem;
    color: var(--color-azul);
    
}
section.opciones div.efect button.tc {
    background-color: var(--color-gris);
    text-decoration: none;
    border: none;
    border-radius: 16vw;
    text-align: center;
    padding: 1vw 12vw; 
    font-family: Quicksand;
    font-size: 1rem;
    color: var(--color-azul);
    margin-top: 1vw;
}

section.opciones div.mediosDePago {
    display: flex;
    justify-content: center;
}
section.opciones div.mediosDePago img {
    width: 3%;
    margin: 1rem;
}

section.opciones div.finish {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vw 0vw 0vw 0vw;
}
section.opciones div.finish nav.delete button.trash {
    background-color: var(--color-beige);
    text-decoration: none;
    border: none;
    border-radius: 100vw;
    padding: 1vw 1vw;
    margin-right: 1vw;
}
section.opciones div.finish nav.delete button.trash img {
    width: 2vw;
}
section.opciones div.finish nav.finCompra button.fin {
    background-color: var(--color-ladrillo);
    color: var(--color-beige);
    text-decoration: none;
    border: none;
    border-radius: 16vw;
    padding: 0.3vw 5vw;
    font-family: Quicksand;
    font-size: 1rem;
    text-transform: uppercase;
}

section.opciones a {
    position: relative;
    left: 2vw;
    text-decoration: none;
    font-family: quicksand;
    font-size: 0.8rem;
    color: var(--color-azul);
}

@media (max-width:1024px) {
    section div section.listado div.cantidad ul input {
        margin-bottom: 2vw;
        width: 2.5vw;
        height: 2vw;
    }
}

@media (max-width:768px) {

    section div section.listado div.delete ul {
        margin-top: 0.8rem;
    }
    section div section.listado div.delete ul li {
        margin-bottom: 0.5rem;
    }
    section div section.listado div.delete ul li a img {
        width: 120%;
        padding: 0.25rem;
    }
    section div section.listado div.product ul h2 {
        font-size: 1.5em;
    }
    section div section.listado div.product ul li {
        font-size: 1em;
    }
    
    section div section.listado div.cantidad ul h2 {
        margin-bottom: 2vw;
        font-size: 1.5em;
    }
    section div section.listado div.cantidad ul input {
        margin-bottom: 2.9vw;
        width: 2.5vw;
        height: 2vw;
        right: -4.5vw;
    }
    
    section div section.listado div.precio ul h2 {
        margin-bottom: 2vw;
        font-size: 1.5em;
    }
    section div section.listado div.precio ul li {
        margin-bottom: 1rem;
        font-size: 1em;
    }

    section.importe div.title {
        font-size: 1em;
    }

    section.importe div.sub p {
        font-size: 1em;
    }

    section.importe div.envio p {
        font-size: 1em;
    }
    
    section.importe div.total h3 {
        font-size: 1em;
        width: 34vw;
    }

    section.opciones div.opc h2 {
        font-size: 1.3em;
    }

    section.opciones div.efect button.cash {
        font-size: 1em;
    }

    section.opciones div.efect button.tc {
        padding: 1vw 15vw; 
        font-size: 1em;
        margin-bottom: 1vw;
    }
    
    section.opciones div.mediosDePago img {
        width: 4%;
        margin: 0.8rem;
    }
    
    section.opciones div.finish {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1vw 0vw 0vw 0vw;
    }
    section.opciones div.finish nav.delete button.trash {
        padding: 1vw 1vw;
    }
    section.opciones div.finish nav.delete button.trash img {
        width: 2vw;
    }
    section.opciones div.finish nav.finCompra button.fin {
        padding: 0 6vw;
        font-size: 1em;
    }
    
    section.opciones a {
        left: 3vw;
        font-size: 0.8em;
    }
}

@media (max-width:425px){

    section div section.listado div.delete {
        margin: 0 2vw -2vw 0;
    }
    section div section.listado div.delete ul {
        margin-top: 0.7rem;
    }
    section div section.listado div.delete ul li {
        margin-bottom: 0.1rem;
    }
    section div section.listado div.delete ul li a img {
        width: 100%;
        padding: 0.2rem;
    }
    section div section.listado div.product ul h2 {
        font-size: 1em;
    }
    section div section.listado div.product ul li {
        font-size: 0.8em;
        margin-bottom: 0.6rem;
    }
    
    section div section.listado div.cantidad ul h2 {
        margin-bottom: 2vw;
        font-size: 1em;
    }
    section div section.listado div.cantidad ul input {
        margin-bottom: 3vw;
        width: 4vw;
        height: 3.5vw;
        right: -5vw;
    }
    
    section div section.listado div.precio ul h2 {
        margin-bottom: 2vw;
        font-size: 1em;
    }
    section div section.listado div.precio ul li {
        margin-bottom: 0.6rem;
        font-size: 0.8em;
    }

    section.importe div.title {
        font-size: 0.8em;
    }

    section.importe div.sub p {
        font-size: 0.5em;
    }

    section.importe div.envio p {
        font-size: 0.5em;
    }
    
    section.importe div.total h3 {
        font-size: 0.8em;
        width: 52vw;
    }

    section.opciones div.opc h2 {
        font-size: 1em;
    }

    section.opciones div.efect button.cash {
        font-size: 0.8em;
    }

    section.opciones div.efect button.tc {
        padding: 1vw 18vw; 
        font-size: 0.8em;
    }
    
    section.opciones div.mediosDePago img {
        width: 5%;
        margin: 0.7rem;
    }
    section.opciones div.finish nav.delete button.trash img {
        width: 2.5vw;
    }
    section.opciones div.finish nav.finCompra button.fin {
        padding: 0 6vw;
        font-size: 0.8em;
    }
    
    section.opciones a {
        left: 3vw;
        font-size: 0.7em;
    }
}
@media (max-width:375px) {

    section div section.listado div.cantidad ul input {
        margin-bottom: 3.4vw;
        width: 4.5vw;
        height: 4vw;
        right: -6vw;
    }

    section.opciones div.efect button.tc {
        padding: 1vw 20vw; 
        font-size: 0.8em;
    }
}

@media (max-width:320px) {
    section div section.listado div.delete {
        margin: 0 2vw -2vw 0;
    }
    section div section.listado div.delete ul {
        margin-top: 0.7rem;
    }
    section div section.listado div.delete ul li {
        margin-bottom: 0.1rem;
    }
    section div section.listado div.delete ul li a img {
        width: 80%;
        padding: 0.2rem;
    }
    section div section.listado div.product ul h2 {
        font-size: 0.8em;
    }
    section div section.listado div.product ul li {
        font-size: 0.5em;
        margin-bottom: 0.6rem;
    }
    
    section div section.listado div.cantidad ul h2 {
        margin-bottom: 2vw;
        font-size: 0.8em;
    }
    section div section.listado div.cantidad ul input {
        margin-bottom: 3vw;
        width: 4vw;
        height: 3.5vw;
        right: -5vw;
    }
    
    section div section.listado div.precio ul h2 {
        margin-bottom: 2vw;
        font-size: 0.8em;
    }
    section div section.listado div.precio ul li {
        margin-bottom: 0.6rem;
        font-size: 0.5em;
    }

    section.importe div.title {
        font-size: 0.6em;
    }

    section.opciones div.opc h2 {
        font-size: 0.8em;
    }
    section.opciones div.efect button.cash {
        font-size: 0.6em;
    }

    section.opciones div.efect button.tc {
        padding: 1vw 18vw; 
        font-size: 0.6em;
    }
    section.opciones div.mediosDePago img {
        margin: 0.3rem;
    }
    section.opciones div.finish nav.finCompra button.fin {
        padding: 0 6vw;
        font-size: 0.6em;
    }
    section.opciones a {
        left: 2vw;
        font-size: 0.5em;
    }

}