<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head')%>
<body class="notFound">
    <section class="notFound">
        <div class="img">
        <img src="/img/backToTheHomepage.png" alt="Back to the Homepage">
        <img src="/img/Delorean.png" alt="Delorean, el Doc y Marti McFly">
        </div>
        <div class="text">
        <h1>404</h1>
        <h2>PAGE NOT FOUND</h2>
        <h3>BACK TO HOME?</h3>
        <a href="/" class="yes">YES</a>
        <a href="https://www.youtube.com/watch?v=G3AfIvJBcGo">NO</a>
        </div>
    </section>
    <footer class="notFound">
        <img src="/img/logo-transparente.png" alt="logo Play And Joy" class="logo">
    </footer>
</body>
</html>