<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../public/css/style.css">
    <title>Play & Joy</title>
</head>
<body>
    <header>
        <div>
            <a href=""><img width="240" height="90" class="logo" src="../../public/img/logo-transparente.png" alt="Logo de Play & Joy"> </a>
            <form action="validar.php" method="POST">
                <input type=“text” name=“search”>
                <img src="../../public/img/lupa.png" alt="lupa">
            </form>
            <nav class="navIngreso">
                <a href="" class="botonStandar">Ingresar</a>
                <a href=""><img src="../../public/img/Carrito.png" alt="Botón carrito de compras"> </a>
            </nav>
        </div>
        <ul class="navMenu">
            <li><a href="" class="botonStandar">Home</a></li>
            <li><a href="" class="botonStandar">Suscripciones</a></li>
            <li><a href="" class="botonStandar">Productos</a></li>
            <li><a href="" class="botonStandar">Contacto</a></li>
        </ul>
        <hr>        
    </header>
    <section class="bannerSuscripcion">
        <img src="../../public/img/BannerSuscripcion.png" alt="Una chica mirando la portada de un disco, en una diquería">
        <a href="">SUSCRIBITE</a>
    </section>
    <hr>
    <section class="nosotros">
        <article>
            <h1>NOSOTROS</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora deserunt provident tenetur error sit iusto accusantium, aut nobis consequatur eligendi eius perspiciatis, dicta amet labore voluptatum aliquam, cupiditate molestias consequuntur. Corporis quos incidunt, odit aut dolorem eligendi dignissimos inventore repudiandae amet nostrum vel earum nulla, commodi nam laudantium, dicta laboriosam?</p>
        </article>
        <img src="../../public/img/Nosotros.png" alt="Gente Trabajando">
    </section>
    <hr>
    <h1 class="asociate">ASOCIATE EN TRES SIMPLES PASOS</h1>
    <section class= "asociate">
        <article>
            <img src="../../public/img/Vector.png" alt="Tarjeta de membresia">
            <h2>Elegí tu membresía</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum esse cupiditate voluptatibus similique odit molestiae inventore, fuga sit consequatur labore.</p>
        </article>
        <article>
            <img src="../../public/img/Vector-1.png" alt="preferencias">
            <h2>Detallá tus preferencias</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum esse cupiditate voluptatibus similique odit molestiae inventore, fuga sit consequatur labore.</p>
        </article>
        <article>
            <img src="../../public/img/Vector-2.png" alt="caja">
            <h2>Recibí tu caja a domicilio</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum esse cupiditate voluptatibus similique odit molestiae inventore, fuga sit consequatur labore.</p>
        </article>
    </section>
    <hr>
    <section class="productos">
        <article>
            <img src="../../public/img/Producto.png" alt="cafetera">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam, quasi!</p>
        </article>
        <article>
            <img src="../../public/img/Producto.png" alt="Cafetera">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis, maiores?</p>
        </article>
        <article>
            <img src="../../public/img/Producto.png" alt="Cafetera">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, ea?</p>
        </article>
        <article>
            <img src="../../public/img/Producto.png" alt="Cafetera">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, iusto.</p>
        </article>
        <article>
            <img src="../../public/img/Producto.png" alt="Cafetera">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia, perferendis.</p>
        </article>
        
    </section>
    <hr>
    <footer>
        <h1>CONTACTANOS</h1>
        <section class="redSocial">
            <a href=""><img src="../../public/img/Facebook.png" alt="Facebook"></a>
            <a href=""><img src="../../public/img/Instagram.png" alt="Instagram"></a>
            <a href=""><img src="../../public/img/Mail.png" alt="Mail"></a>
        </section>
    </footer>   
</body>
</html>