<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Play & Joy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <%- include('./partials/header') %>
    <hr>
    <section class="bannerSuscripcion">
        <a href="http://localhost:3000/register">SUSCRIBITE</a>
    </section>
    <hr>
    <section class="nosotros">
        <article>
            <h1>NOSOTROS</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora deserunt provident tenetur error sit iusto accusantium, aut nobis consequatur eligendi eius perspiciatis, dicta amet labore voluptatum aliquam, cupiditate molestias consequuntur. Corporis quos incidunt, odit aut dolorem eligendi dignissimos inventore repudiandae amet nostrum vel earum nulla, commodi nam laudantium, dicta laboriosam?</p>
        </article>
        <img src="/img/Nosotros.png" alt="Gente Trabajando">
    </section>
    <hr>
    <h1 class="asociate">ASOCIATE EN TRES SIMPLES PASOS</h1>
    <section class= "asociate">
        <article>
            <img src="/img/Vector.png" alt="Tarjeta de membresia">
            <h2>Elegí tu membresía</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum esse cupiditate voluptatibus similique odit molestiae inventore, fuga sit consequatur labore.</p>
        </article>
        <article>
            <img src="/img/Vector-1.png" alt="preferencias">
            <h2>Detallá tus preferencias</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum esse cupiditate voluptatibus similique odit molestiae inventore, fuga sit consequatur labore.</p>
        </article>
        <article>
            <img src="/img/Vector-2.png" alt="caja">
            <h2>Recibí tu caja a domicilio</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum esse cupiditate voluptatibus similique odit molestiae inventore, fuga sit consequatur labore.</p>
        </article>
    </section>
    <hr>
    <section class="productos">
        <article>
            <img src="/img/Producto.png" alt="cafetera">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam, quasi!</p>
        </article>
        <article>
            <img src="/img/Producto.png" alt="Cafetera">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis, maiores?</p>
        </article>
        <article>
            <img src="/img/Producto.png" alt="Cafetera">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, ea?</p>
        </article>
        <article>
            <img src="/img/Producto.png" alt="Cafetera">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, iusto.</p>
        </article>
        <article>
            <img src="/img/Producto.png" alt="Cafetera">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia, perferendis.</p>
        </article>
        <article class="hiden">
            <img src="/img/Producto.png" alt="Cafetera">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia, perferendis.</p>
        </article>
    </section>
    <hr>
    <%- include('./partials/footer') %>
</body>
</html>