<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../public/css/style.css">
    <title>Play & Joy - Suscripción</title>
</head>
<body>
    <header>
        <div>
            <a href=""><img width="240" height="90" class="logo" src="../../public/img/logo-transparente.png" alt="Logo de Play & Joy"> </a>
            <form action="validar.php" method="POST">
                <input type=“text” name=“search”>
            </form>
            <nav class="navIngreso">
                <a href="" class="botonStandar">Ingresar</a>
                <a href=""><img src="../../public/img/Carrito.png" alt="Botón carrito de compras"> </a>
            </nav>
        </div>
        <ul class="navMenu">
            <li><a href="" class="botonStandar">Home</a></li>
            <li><a href="" class="botonStandar">Suscripciones</a></li>
            <li><a href="" class="botonStandar">Productos</a></li>
            <li><a href="" class="botonStandar">Contacto</a></li>
        </ul>
        <hr>        
    </header>
    <section class="detalleSuscripcion">
        <img src="../../public/img/imagenSuscripcion.png" alt="Gatito dentro de una caja">
        <div>
            <h1>SUSCRIPCIÓN</h1>
            <h2>$ PRECIO</h2>
            <div class="mediosDePago">
                <img src="../../public/img/Amex.png" alt="American Express">
                <img src="../../public/img/Visa.png" alt="Visa">
                <img src="../../public/img/Diners.png" alt="Diners">
                <img src="../../public/img/PayPal.png" alt="Pay Pal">
                <img src="../../public/img/Master.png" alt="Master Card">
            </div>
        </div>
    </section>
</body>
</html>