<h1 class="asociate">ASOCIATE EN TRES SIMPLES PASOS</h1>
<section class= "asociate">
    <article>
        <img src="/img/Vector.png" alt="Tarjeta de membresia">
        <h2>Elegí tu membresía</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum esse cupiditate voluptatibus similique odit molestiae inventore, fuga sit consequatur labore.</p>
    </article>
    <article>
        <img src="/img/Vector-1.png" alt="preferencias">
        <h2>Detallá tus preferencias</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum esse cupiditate voluptatibus similique odit molestiae inventore, fuga sit consequatur labore.</p>
    </article>
    <article>
        <img src="/img/Vector-2.png" alt="caja">
        <h2>Recibí tu caja a domicilio</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum esse cupiditate voluptatibus similique odit molestiae inventore, fuga sit consequatur labore.</p>
    </article>
</section>