<h1 class="asociate">ASOCIATE EN TRES SIMPLES PASOS</h1>
<section class= "asociate">
    <article>
        <img src="/img/Vector.png" alt="Tarjeta de membresia">
        <h2>Elegí tu membresía</h2>
        <p>Se trata de una suscripción mensual con la que vas a ser parte del club. Eso significa que todos los meses vas a recibir una caja que incluye café seleccionado específicamente para los miembros del club, la información clave de su proceso y una guía para degustarlo. Existen distintos planes pensados para que se ajusten a tu consumo.</p>
    </article>
    <article>
        <img src="/img/Vector-1.png" alt="preferencias">
        <h2>Detallá tus preferencias</h2>
        <p>Podés personalizar el pedido para que el café te llegue en grano o molido, porque queremos que cualquiera pueda ser parte de la comunidad. Elegí la opción que se adecue a tu cafetera, ya sea espresso o de filtro. Tenés 3 tipos de molienda distinta. Y si te comprás un método distinto, podés cambiar tu preferencia en cualquier momento.</p>
    </article>
    <article>
        <img src="/img/Vector-2.png" alt="caja">
        <h2>Recibí tu caja a domicilio</h2>
        <p>Todos los meses, una selección de los mejores granos recién tostados llegará a tu casa. Cada entrega será única y particular, diferente a la anterior. Conocé los distintos orígenes, variedades y tostadores del universo del café. Aprendé a reconocer sus matices y compartí tu experiencia con el resto de los miembros del Club.</p>
    </article>
</section>