<footer id="contacto">
    <hr>
    <h1>CONTACTANOS</h1>
    <section class="redSocial">
        <a href="https://www.facebook.com/"><img src="/img/Facebook.png" alt="Facebook"></a>
        <a href="https://www.instagram.com/"><img src="/img/Instagram.png" alt="Instagram"></a>
        <a href="https://mail.google.com/"><img src="/img/Mail.png" alt="Mail"></a>
    </section>
</footer>