<header class="admin">
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/admin/">Inicio</a>
        <a href="/admin/cargaProducto">Cargar Producto</a>
        <a href="/admin/cargaSuscription">Cargar Suscripción</a>
        <a href="/admin/users">Administración de Usuarios</a>
        <a href="/">Play and Joy</a>
    </div>
    <div class="menuAdmin">
        <input type="checkbox" id="burger" onclick="openNav()">
        <label for="burger" class="burgerMenu">
            <div class="burgerMenu"></div>
            <div class="burgerMenu"></div>
            <div class="burgerMenu"></div>
        </label>
    </div>
</header>