<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Play & Joy</title>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
    <meta property="og:title" content="Asociate en tres simples pasos" />
    <meta property="og:description" content="Un lugar donde disfrutar de todo aquello que te gusta" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://playandjoy.herokuapp.com/" />
    <meta property="og:image" content="https://playandjoy.herokuapp.com/img/BannerSuscripcion.png" />
    <meta property="og:site_name" content="Play & Joy" />
    <meta property="fb:app_id" content="928977633900253" />
</head>