<header>
    <section class="ppal">
        <a href="http://localhost:3000"><img src="/img/logo-transparente.png" alt="logo Play And Joy" class="logo"></a>
        <form action="validar.php" method="POST">
            <input type="text" id="searchBar">
            <label for="searchBar"><img src="/img/lupa.png" alt="lupa"></label>
        </form>
        <nav class="navIngresar">
            <ul class="ingreso">
                <li><a href="http://localhost:3000/users/login" class="ingresar">Ingresar</a></li>
                <li><input type="checkbox" id="burger">
                    <label for="burger" class="hidden"><img src="/img/mobileMenu.png" alt="burger"></label>
                    <ul class="menuMobile">
                        <li><a href="http://localhost:3000/users/login">Ingresar</a></li>
                        <li><a href="http://localhost:3000">Home</a></li>
                        <li><input type="checkbox" id="suscrip">
                            <label for="suscrip" class="hidden">Suscripciones</label>
                            <ul class="submenuSuscrip">
                                <li><a href="http://localhost:3000/suscription">Plan Basico</a></li>
                                <li><a href="http://localhost:3000/suscription">Plan Premium</a></li>
                                <li><a href="http://localhost:3000/suscription">Plan A medida</a></li>
                            </ul>
                        </li>
                        <li><input type="checkbox" id="prod">
                            <label for="prod" class="hidden">Productos</label>
                            <ul class="submenuProd">
                                <li><a href="http://localhost:3000/product">Café</a></li>
                                <li><a href="http://localhost:3000/product">Vino</a></li>
                                <li><a href="http://localhost:3000/product">Libros</a></li>
                                <li><a href="http://localhost:3000/product">Musica</a></li>
                            </ul>
                        </li>
                        <li><a href="#contacto">Contacto</a></li>
                    </ul>
                </li>
                <li><a href="http://localhost:3000/carrito" class="cart"><img src="/img/Carrito.png" alt="carrito"></a></li>
            </ul>
        </nav>
    </section>
    <nav class="nav">
        <ul class="menu">
            <li><a href="http://localhost:3000">Home</a></li>
            <li><a href="http://localhost:3000/suscription">Suscripciones</a>
                <ul class="subMenu">
                    <li><a href="http://localhost:3000/suscription">Plan Basico</a></li>
                    <li><a href="http://localhost:3000/suscription">Plan Premium</a></li>
                    <li><a href="http://localhost:3000/suscription">Plan A medida</a></li>
                </ul>
            </li>
            <li><a href="http://localhost:3000/product">Productos</a>
                <ul class="subMenu">
                    <li><a href="http://localhost:3000/product">Café</a></li>
                    <li><a href="http://localhost:3000/product">Vino</a></li>
                    <li><a href="http://localhost:3000/product">Libros</a></li>
                    <li><a href="http://localhost:3000/product">Musica</a></li>
                </ul>
            </li>
            <li><a href="#contacto">Contacto</a></li>
        </ul>
    </nav>
</header>