<section class="menuProfile">
    <ul>
        <li><a href="/users/profile/<%=user.id %>">Datos personales</a></li>
        <li><a href="/users/profile/<%=user.id %>/editPassword">Cambiar contraseña</a></li>
        <li><a href="">Mis pedidos</a></li>
        <li><a href="">Contacto</a></li>
        <% if(usuarioLogueado.admin == 1) {%> 
        <li><a href="/admin/">Menu admin</a></li>
        <% } %> 
        <li class="last"><a href="/users/profile/<%=user.id %>/logout">Cerrar sesión</a></li>
    </ul>
</section>