<section class="productos">
    <article>
        <img src="/img/Producto.png" alt="cafetera">
        <details>
            <summary>Lorem, ipsum dolor.</summary>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam, quasi!</p>
        </details>
    </article>
    <article>
        <img src="/img/Producto.png" alt="Cafetera">
        <details>
            <summary>Lorem, ipsum dolor.</summary>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam, quasi!</p>
        </details>
    </article>
    <article>
        <img src="/img/Producto.png" alt="Cafetera">
        <details>
            <summary>Lorem, ipsum dolor.</summary>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam, quasi!</p>
        </details>
    </article>
    <article>
        <img src="/img/Producto.png" alt="Cafetera">
        <details>
            <summary>Lorem, ipsum dolor.</summary>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam, quasi!</p>
        </details>
    </article>
    <article>
        <img src="/img/Producto.png" alt="Cafetera">
        <details>
            <summary>Lorem, ipsum dolor.</summary>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam, quasi!</p>
        </details>
    </article>
    <article class="hiden">
        <img src="/img/Producto.png" alt="Cafetera">
        <details>
            <summary>Lorem, ipsum dolor.</summary>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam, quasi!</p>
        </details>
    </article>
</section>