<section class="productos">
    <article>
        <img src="/img/Producto.png" alt="cafetera">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam, quasi!</p>
    </article>
    <article>
        <img src="/img/Producto.png" alt="Cafetera">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis, maiores?</p>
    </article>
    <article>
        <img src="/img/Producto.png" alt="Cafetera">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, ea?</p>
    </article>
    <article>
        <img src="/img/Producto.png" alt="Cafetera">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, iusto.</p>
    </article>
    <article>
        <img src="/img/Producto.png" alt="Cafetera">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia, perferendis.</p>
    </article>
    <article class="hiden">
        <img src="/img/Producto.png" alt="Cafetera">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia, perferendis.</p>
    </article>
</section>