<section class="productos">
    <article>
        <a href="/product/:idProduct"><img src="/img/Producto.png" alt="cafetera"></a>
        <details>
            <summary>Lorem, ipsum dolor.</summary>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam, quasi!</p>
        </details>
    </article>
    <article>
        <a href="/product/:idProduct"><img src="/img/Producto.png" alt="cafetera"></a>
        <details>
            <summary>Lorem, ipsum dolor.</summary>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam, quasi!</p>
        </details>
    </article>
    <article>
        <a href="/product/:idProduct"><img src="/img/Producto.png" alt="cafetera"></a>
        <details>
            <summary>Lorem, ipsum dolor.</summary>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam, quasi!</p>
        </details>
    </article>
    <article>
        <a href="/product/:idProduct"><img src="/img/Producto.png" alt="cafetera"></a>
        <details>
            <summary>Lorem, ipsum dolor.</summary>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam, quasi!</p>
        </details>
    </article>
    <article>
        <a href="/product/:idProduct"><img src="/img/Producto.png" alt="cafetera"></a>
        <details>
            <summary>Lorem, ipsum dolor.</summary>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam, quasi!</p>
        </details>
    </article>
    <article class="hiden">
        <a href="/product/:idProduct"><img src="/img/Producto.png" alt="cafetera"></a>
        <details>
            <summary>Lorem, ipsum dolor.</summary>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam, quasi!</p>
        </details>
    </article>
</section>