<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head')%>
</head>
<body>
    <%- include('../partials/headerAdmin')%>
    <section class="dashboard">
        <div class="box">
            <h3>Cantidad Productos</h3>
        </div>
        <div class="box">
            <h3>Cantidad Suscripciones</h3>
        </div>
        <div class="box">
            <h3>Cantidad Usuarios</h3>
        </div>
        <section>
            <h1>Productos por Categoria</h1>
            <div class="box">
                <h3>Cantidad Productos Vino</h3>
            </div>
            <div class="box">
                <h3>Cantidad Productos Café</h3>
            </div>
            <div class="box">
                <h3>Cantidad Productos Música</h3>
            </div>
            <div class="box">
                <h3>Cantidad Productos Libros</h3>
            </div>
        </section>
    </section>
<script src="/js/adminjs.js" type="text/javascript"> </script> 
</body>
</html>