<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play & Joy - Carrito de compras</title>
    <link rel="stylesheet" href="/css/styleCarrito.css">
</head>
<body>
    <%- include('./partials/header') %>
    <hr>
    <section class="carrito">
    <div class="imgcarrito">
        <img class="shop" width="25px" height="27px" src="/img/carrito3.png" alt="carrito de compras">
    </div>
    </section>
    <section class="listado">
        <div class="delete">
            <ul>
                <li><a href=""><img src="/img/basura.png" alt=""></a></li>
                <li><a href=""><img src="/img/basura.png" alt=""></a></li>
                <li><a href=""><img src="/img/basura.png" alt=""></a></li>
                <li><a href=""><img src="/img/basura.png" alt=""></a></li>
                <li><a href=""><img src="/img/basura.png" alt=""></a></li>
            </ul>
        </div>
        <div class="product">
            <ul>
                <h2>Productos</h2>
                <li>Lorem ipsum dolor sit</li>
                <li>Lorem ipsum dolor sit</li>
                <li>Lorem ipsum dolor sit</li>
                <li>Lorem ipsum dolor sit</li>
                <li>Lorem ipsum dolor sit</li>
            </ul>
        </div>
        <div class="cantidad">
            <ul>
                <h2>Cantidad</h2>
                <li><input type="number" name="cantidad"></li>
                <li><input type="number" name="cantidad"></li>
                <li><input type="number" name="cantidad"></li>
                <li><input type="number" name="cantidad"></li>
                <li><input type="number" name="cantidad"></li>
            </ul>
        </div>
        <div class="precio">
            <ul>
                <h2>Precio</h2>
                <li>$precio</li>
                <li>$precio</li>
                <li>$precio</li>
                <li>$precio</li>
                <li>$precio</li>
            </ul>
        </div>
    </section>
    <hr>
    <section class="importe">
        <div class="title">
            <h2>Importe</h2>
        </div>
        <div class="sub">
            <p>Subtotal</p>
            <p class="price">$precio</p>
        </div>
        <div class="envio">
            <p>Envio</p>
            <p class="env">$precio</p>
        </div>
        <div class="total">
            <h3>  Total</h3>
        </div>
    </section>
    <hr>
    <section class="opciones">
        <div class="opc">
            <h2>Opciones de pago</h2>
        </div>
        <div class="efect">
            <button class="cash">Efectivo/Transferencia bancaria</button>
            <button class="tc">Tarjeta de crédito</button>
        </div>
        <div class="mediosDePago">
            <img src="/img/Visa.png" alt="">
            <img src="/img/Master.png" alt="">
            <img src="/img/PayPal.png" alt="">
            <img src="/img/Amex.png" alt="">
            <img src="/img/Diners.png" alt="">
        </div>
        <div class="finish">
            <nav class="delete">
                <button class="trash"><img src="/img/basura2.png" alt=""></button>
            </nav>
            <nav class="finCompra">
                <button class="fin">Finalizar compra</button>
            </nav>
        </div>
        <a href=""><p>Seguir comprando</p></a>
    </section>
    <hr>
    <section class="productos">
        <h2 class="prodSimi">Productos Similares</h2>
        <div>
        <a class="izq" href=""><img src="/img/vermasizq.png" alt=""></a>
        <article>
            <img width="88px" height="90px" src="/img/Producto.png" alt="">
            <p>Lorem ipsum dolor sit amet.</p>
        </article>
        <article>
            <img width="88px" height="90px" src="/img/Producto.png" alt="Cafetera">
            <p>Lorem ipsum dolor sit amet.</p>
        </article>
        <article>
            <img width="88px" height="90px" src="/img/Producto.png" alt="Cafetera">
            <p>Lorem ipsum dolor sit amet.</p>
        </article>
        <a class="der" href=""><img src="/img/vermasder.png" alt=""></a>
    </div>
    </section>
    <hr>
    <%- include('./partials/footer') %>
</body>
</html>