<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')%>
<body class="carrito"> 
    <%- include('../partials/header') %>
    <div class="carrito">
        <img src="/public/img/carrito3.png" alt="carrito de compras">
    </div>
    <section>
        <div>
             <section class="listado">
                     <div class="delete">
                        <ul>
                            <li><a href=""><img src="/public/img/basura.png" alt=""></a></li>
                            <li><a href=""><img src="/public/img/basura.png" alt=""></a></li>
                            <li><a href=""><img src="/public/img/basura.png" alt=""></a></li>
                            <li><a href=""><img src="/public/img/basura.png" alt=""></a></li>
                            <li><a href=""><img src="/public/img/basura.png" alt=""></a></li>
                        </ul>
                    </div>
                    <div class="product">
                        <ul>
                            <h2>Productos</h2>
                            <li>Lorem ipsum dolor sit</li>
                            <li>Lorem ipsum dolor sit</li>
                            <li>Lorem ipsum dolor sit</li>
                            <li>Lorem ipsum dolor sit</li>
                            <li>Lorem ipsum dolor sit</li>
                        </ul>
                    </div>
                    <div class="cantidad">
                        <ul>
                            <h2>Cantidad</h2>
                            <input type="number" name="cantidad">
                            <input type="number" name="cantidad">
                            <input type="number" name="cantidad">
                            <input type="number" name="cantidad">
                            <input type="number" name="cantidad">
                        </ul>
                    </div>
                    <div class="precio">
                        <ul>
                            <h2>Precio</h2>
                            <li>$precio</li>
                            <li>$precio</li>
                            <li>$precio</li>
                            <li>$precio</li>
                            <li>$precio</li>
                        </ul>
                    </div>
            </section>
            <hr>
            <section class="importe">
                <div class="title">
                    <h2>Importe</h2>
                </div>
                <div class="sub">
                    <p>Subtotal</p>
                    <p class="price">$precio</p>
                </div>
                <div class="envio">
                    <p>Envio</p>
                    <p class="env">$precio</p>
                </div>
                <div class="total">
                    <h3>  Total</h3>
                </div>
            </section>
            <hr>
            <section class="opciones">
                <div class="opc">
                    <h2>Opciones de pago</h2>
                </div>
                <div class="efect">
                    <button class="cash">Efectivo/Transferencia bancaria</button>
                    <button class="tc">Tarjeta de crédito</button>
                </div>
                <div class="mediosDePago">
                    <img src="/public/img/Visa.png" alt="tarjeta Visa">
                    <img src="/public/img/Master.png" alt="tarjeta Master">
                    <img src="/public/img/PayPal.png" alt="tarjeta PayPal">
                    <img src="/public/img/Amex.png" alt="tarjeta Amex">
                    <img src="/public/img/Diners.png" alt="tarjeta diners">
                </div>
                <div class="finish">
                    <nav class="delete">
                        <button class="trash"><img src="/public/img/basura2.png" alt=""></button>
                    </nav>
                    <nav class="finCompra">
                        <button class="fin">Finalizar compra</button>
                    </nav>
                </div>
                <a href=""><p>Seguir comprando</p></a>
            </section>
        </div>
    </section>
    <hr>
    <section class="opciones">
        <div class="opc">
            <h2>Opciones de pago</h2>
        </div>
        <div class="efect">
            <button class="cash">Efectivo/Transferencia bancaria</button>
            <button class="tc">Tarjeta de crédito</button>
        </div>
        <div class="mediosDePago">
            <img src="/img/Visa.png" alt="">
            <img src="/img/Master.png" alt="">
            <img src="/img/PayPal.png" alt="">
            <img src="/img/Amex.png" alt="">
            <img src="/img/Diners.png" alt="">
        </div>
        <div class="finish">
            <nav class="delete">
                <button class="trash"><img src="/img/basura2.png" alt=""></button>
            </nav>
            <nav class="finCompra">
                <button class="fin">Finalizar compra</button>
            </nav>
        </div>
        <a href="">Seguir comprando</a>
    </section>
    </div>
</section>
    <hr>
    <%- include('../partials/sectionProducts') %>
    <%- include('../partials/footer') %>
</body>
</html>