<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')%>
<body class="login">
    <section class="login">
    <header class="login">
        <a href="http://localhost:3000"><img class="logo" src="/img/logo-transparente.png" alt="Logo Play & Joy"></a>
    </header>
    <form action="validar.php" method="POST" class="login">
        <label for="usuario">Usuario</label>
        <input class="campo" type="email" required>
        <label for="password">Contraseña</label>
        <input class="campo" type="password" required>
        <button class="botonEntrar" type="submit">ENTRAR</button>
        <small>
            <input type="checkbox" name="remember" value="SI"> Recordar mi usuario y contraseña<br>
        </small>
    </form>
    <section class="container">
        <small><a href="">Recuperar contraseña</a></small>
        <div>
            <img src="/img/google.png" alt="logo google">
            <a href="">Ingresar con Google</a>
        </div>
        <div>
            <img src="/img/facebook2.png" alt="logo facebook">
            <a href="">Ingresar con Facebook</a>
        </div>
    </section>
    </section>  
</body>
</html>